<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Meidän hieno foorumi</title>
    <meta charset="UTF-8"> </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> </meta>
</head>
<body>
    <h1>Tervetuloa foorumillemme</h1>
    <table> 
        <tr>
           <th>Alue</th>
           <th>Viestejä yhteensä</th>
           <th>Viimeisin viesti</th>
        </tr>
        <tr th:each="alue: ${alueet}"> 
            <td><a th:href="@{~/alue/{id}(id=${alue.id})}" th:text="${alue.nimi}">Alueen nimi</a></td>  
           <td th:text="${alue.viestit}"> > Viestit yhteensä</td>
           <td th:text="${alue.viimeinenViesti}">Viimeisen viestin pvm</td>
        </tr>
    </table>
    <form method="POST" action="/">
      <input type="text" name="alue"/><br/>
      <input type="submit" value="Lisää alue"/>
    </form> 
</body>
</html>